# .npmignore 

.babelrc
.gitignore
.gitattributes
.travis.yml
.editorconfig
jsconfig.json
jsdoc.json
babel.config.js
rollup.config.js
*.log
*.md
src
test
examples
docs
coverage
.nyc_output
__tests__
lib/**/*.spec.js
allure-results